@mixin flexCenter {
  display: flex;
  justify-content: center;
  text-align: center;
}
*{
  // border: 1px solid #000;
  box-sizing: border-box;
}
html,body{
  @include flexCenter();
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.headbar {
  height: 10vh;
  width: 100%;
  @include flexCenter();
  flex-direction: column;
}
// .todolist_table{
//   // border: 1px solid #000;
//   width: 100%;
//   height: 90vh;
//   & thead > tr > th{
//     height: 10vh;
//     border: 1px solid #000;
//   }
//   & tbody > tr > th {
//     height: clac((100vh - 20vh)/7);
//     padding: 0;
//     margin: 0;
//     text-align: left;
//     border: 1px solid #000;
//   }
// }
.year_bar{
  height: 5vh;
  font-size: 3vh;
}
.month_bar {
  display: flex;
  height: 5vh;
  @include flexCenter();
  .change_mm_left,.change_mm_right,#month_status{
    font-size: 3vh;
    padding: .3vh 5vh;
  }
}
.table_days{
  // height: clac((100vh - 20vh)/7);
  height: 10vh;
  position: relative;
  text-align: left;
  border: 1px solid #000;
}
.add_form {
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 100%;
  background-color:rgba($color: #eeeeee, $alpha: .5);
  // opacity: 0.5;
  @include flexCenter();
  align-items: center;
  .add_form_table{
    // z-index: 101;
    // background-color: red;
    width: 50vh;
    height: 50vh;
  }
}
#show_form {
  display: none;
}
#change{
  position: absolute;
  right: 10vw;
}
.card_size{
  width: 50vw;
  // padding: 1vh 2vw;
  text-align: left;
}
.date_bar{
  padding: 1vh 1vw;
}
.textarea_input{
  margin-top: 1vh;
}
// .send_btn{
//   position: relative;
//   // margin: 0;
//   width: 25vw;
//   left: calc(12.5vw - 20px);
// }
.btn_bar{
  margin-top: 1vh;
  display: flex;
  #close_todo,#add_todo{
    margin: 1vh 2vw;
    flex: 1;
  }
}
.todolist_box{
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  .top_bar{
    display: flex;
    .top_context{
      border: 1px solid #000;
      flex: 1;
      box-sizing: border-box;
      height: calc(90vh / 7);
    }
  }
  .context{
    display: flex;
    flex-wrap: wrap;
    .todo_context{
      box-sizing: border-box;
      position: relative;
      flex-direction: column;
      display: flex;
      border: 1px solid #000;
      width: calc(100vw /7);
      height: calc(90vh / 7);
      text-align: left;
    }
  }
}
.day_font {
  padding-left: .5vw;
  text-align: left;
  color: red;
}
.todo_item{
  padding-left: 1vw;
}
